// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@200;300;400&display=swap');

@font-face {
    font-family: 'Yapari Variable Trial Ultra Extra Bold';
    src: url('fonts/Yapari-Variable-Trial-VF.ttf');
}

:root {

    // primary
    --very-blue: hsl(0deg 0% 10%);
    --dark-des-blue: black;
    --soft-violet: #2C50E8;

    // neutral
    --white: hsl(0, 0%, 100%);
    --st-white-main: hsla(0, 0%, 100%, 0.75);
    --st-white-heading: hsla(0, 0%, 100%, 0.6);

    // typography 
    --font-inter: 'Yapari Variable Trial Ultra Extra Bold', sans-serif;
    --font-lexend: 'Lexend Deca', sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 100%;
    padding: 10rem;
    background-color: var(--very-blue);
}

h1 {
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 2.1rem;
}

.insights {
    color: var(--soft-violet)
}

p {
    font-family: var(--font-lexend);
    color: var(--st-white-heading);
    margin-top: 2rem;
    line-height: 1.6rem;
    font-size: 1rem;
    padding-right: 1rem;
    font-weight: 300;
}

ul {
    list-style: none;
    font-family: var(--font-lexend);
}


.container {
    display: flex;
    background-color: var(--dark-des-blue);
    margin: auto;
    color: white;
    border-radius: 10px;
    max-width: 1110px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        min-width: 500px;
    }

}

.text {
    display: flex;
    flex-direction: column;
    padding: 4rem 6.4rem 4rem 4rem ;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 7.6rem;
    grid-row-gap: 0.3rem;
}

.img__wrap {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    height: auto;
}

.img__wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.5;
}

.numbers {
    font-size: 1.4em;
    font-family: var(--font-inter);
    font-weight: 700;
}

.stat__desc {
    color: var(--st-white-heading);
    font-size: 13px;
    font-family: var(--font-lexend);
    text-transform: uppercase;
    font-weight: 300;
}


/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  @keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }