@use '../src/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,800&family=Montserrat:wght@500;700&display=swap');

:root {

    // primary
    --dark-cyan: hsl(256deg 100% 63%);
    --cream: hsl(30, 38%, 92%);

    // neutral
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-gray-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    //typography 
    --fraunces: 'Fraunces', serif;
    --montserrat: 'Montserrat', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background-color: var(--cream);
    background-image: url('./components/images/chrome-bg.jpg');
}